@model string


<div class="navbar">
    <img src="~/Content/fabdynlogo.jpg" style="width: inherit; height:auto" />

    <br />
    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/">Home</a>
    <a href="https://fabdyn.fabricated.local:444/ShopTimeTracking/ShopTimeTracking/Payroll">Payroll Entry</a>
    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/JobTime">Job Time Entry</a>
    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/Balances">Balances</a>
    <br />

    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/Admin">Admin</a>
    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/EditEmployee">Edit Employee</a>
    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/EditShifts">Create/Edit Shifts</a>
    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/Overtime">Create/Edit Overtime</a>
    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/TimeOff">Create/Edit Time Off</a>
    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/Dashboard">Dashboard</a>
</div>

<br />

<div class="submitTitle">
    <p>@Model</p>
        <div id="successDiv" style="display:none;font-size:20vw">
            Success!
        </div>
        <div id="containerDiv" class="submitContent">