    </div>
</div>
<br />

<footer>
    <div style="clear: both;">
        <p style="float: left;">Shop Time Keeping v1.0</p>
        <p style="float: right;">2017 &copy; bkSmash&trade;<br />Fabricated Metals, LLC</p>
    </div>
</footer>