@model string


<div class="navbar">
    <img src="~/Content/fabdynlogo.jpg" style="width: inherit; height:auto"/>

    <br />

    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/">Home</a>
    <a href="https://fabdyn.fabricated.local:444/ShopTimeTracking/ShopTimeTracking/Payroll">Payroll Entry</a>
    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/JobTime">Job Time Entry</a>
    <a href="http://fabdyn.fabricated.local:81/ShopTimeTracking/ShopTimeTracking/Balances">Balances</a>
</div>

<br />

<div class="submitTitle">
    <p>@Model</p>
    <div id="successDiv" style="display:none; font-size:30px">
        </br>
        Success!
    </div>
    <div id ="containerDiv" class="submitContent">