body {
    padding: 20px;
    background-color: #c6daf8;
    width: 100%;
    text-align: center;
    
    font-family:'Calibri';
}

input[type=submit] {
    height: 100px;
    width: 225px;
    font-size: 60px;
    padding:5px 15px; 
    background:#ccc; 
    border:1px solid black;
    cursor:pointer;
    
    border-radius: 5px; 
}

div.navbar {
    background-color: #ffffff;
    margin: auto;
    width: 80%;
    padding: 10px;
    border: 1px solid black;
}

    div.navbar a {
        white-space: nowrap;
        font-size: 18px;
        padding: 0px 3%;
        font-weight: 700;
    }

footer {
    background-color: #4c68a2;
    margin: auto;
    width: 80%;
    height: 60px;
    padding: 10px;
    border: 1px solid black;
}

div.submitTitle {
    background-color: #ffffff;
    margin: auto;
    width: 80%;
    padding: 10px;
    border: 1px solid black;
}
div.submitTitle p {
    font-size: 40px;
}

div.submitContent {
    background-color: #9eb6e4;
    margin: auto;
    width: 98%;
    padding: 10px;
    border: 1px solid black;
}    

div.employeeIDDiv {
    height: 100px;
}
div.employeeIDDiv label {
    float:left;
    font-size:35px;
}

#employeeBox, #workleaderBox {
    height: 50px;
    width: 150px;
    font-size:20px;
    float:left;
}

#employeeName, #workleaderName {
    float: right;
    font: 700 4vw calibri;
}

div.jobtime select, div.jobtime input  {
    height: 50px;
    width: 30%;
    font-size: 20px;
    float:left;
}

div.multiSelects select {
    height: 50px;
    width: 10%;
    font-size: 20px;
    float:left;
}

div.shiftSelect {
    
}

div.shiftSelect select{
    height: 50px;
    width: 100px;
    font-size: 20px;
    float:left;
}

div.shiftsSlect #shiftSelectTimes {
        height: 50px;
    width: 50px;
    font-size: 20px;
    float:left;
}

div.shiftSelect label {
    float:left;
    font-size:25px;
}

dateRangedateRange

div.dateRange {
    height: 100px;
    float:left;
}

div.shiftSelect input {
    height: 50px;
    width: 100px;
    font-size: 10px;
    float:left;
}

#timeHours, #timeQuarterHours {
    width: 60px;
}

div.jobtime {
    height:100px;
}

div.jobtime label {
    float:left;
    font-size:35px;
}

/*Location Radio Buttons*/
div.locationDiv {
    text-align:center;
    border-top: 1px solid black;
}

div.shiftPeriods {
    height: 100px;
}


.location {
     list-style-type:none;
     padding:0;
     display: inline-block;
     margin: 0;
}


.location li {
    width:22vw;
    float: left;
    padding: 2px 5px;
}


.location label, .location input {
    display:block;
    
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.location input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.location input[type="radio"]:checked + label {
    background:yellow;
}

.location label {
     padding:5px;
     border:1px solid black; 
     height:12vw;
     cursor:pointer;
     font-size: 8vw;
     z-index:90;
}

div.punchLabel label {
     padding:5px;
     border:1px solid black; 
     height:8vw;
     cursor:pointer;
     font-size: 4vw;
     z-index:90;
}


.location label:hover {
     background:#DDD;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.homeButtons {
    font-size: 2vw;
    font-family: Calibri;
}

div.homeButtons a {
  background-color: #e6eefc;
  padding: 10px 50px 10px 50px;
  color: black;
  border: 1px solid black;
  white-space: nowrap;
  line-height:380%;
}


#container {
margin: 0px auto;
width: 400px;
height: 400px;
            
}

#videoElement {
width: 400px;
height: 400px;
            
}

div.overTimeRows {

}